<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <div class="box1">
        <div class="logo-ml">
          <img src="./img/logo-mercado-liebre.svg" alt="logo" />
        </div>

        <div class="barra-busqueda">
          <input
            class="input-busqueda"
            type="search"
            name="search"
            placeholder="Busca productos y marcas"
          />
          <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>

      <p class="cuotas">
        <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
        tarjeta de crédito
      </p>
      <div class="links">
        <ul class="nav1">
          <li><a>Ofertas</a></li>
          <li><a>Tiendas Oficiales</a></li>
          <li><a>Vender</a></li>
          <li><a>Ayuda</a></li>
        </ul>
        <ul class="nav2">
          <li>
            <a href="/register">Creá tu cuenta </a
            ><i class="fa-regular fa-address-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá </a
            ><i class="fa-solid fa-right-from-bracket"></i>
          </li>
          <li><a>Mis compra </a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <img class="img-baner" src="./img/img-home-banner.jpg" />
    <main>
      <h2 class="titulares">Basado en tu ultima visita</h2>
      <section>
        <article>
          <img src="./img/img-cafetera-moulinex.jpg" alt="cafetera" />
          <div class="contenedor">
            <i class="fa-solid fa-truck envios"></i>
            <div class="pyd">
              <p class="precios">$6.770</p>
              <p class="descuentos">40% OFF</p>
            </div>
            <p class="description">Cafetera Moulinex</p>
          </div>
        </article>
        <article>
          <img src="./img/img-macbook-pro-2019.jpg" alt="mac" />
          <div class="contenedor">
            <i class="fa-solid fa-truck envios"></i>
            <div class="pyd">
              <p class="precios">$230.000</p>
              <p class="descuentos">20% off</p>
            </div>
            <p class="description">MacBook Pro 2019</p>
          </div>
        </article>

        <article>
          <img src="./img/img-samsung-galaxy-s10.jpg" alt="samsung" />
          <div class="contenedor">
            <i class="fa-solid fa-truck envios"></i>
            <div class="pyd">
              <p class="precios">$70.500</p>
              <p class="descuentos">10% off</p>
            </div>
            <p class="description">Samsung Galaxy S10</p>
          </div>
        </article>
        <article>
          <img src="./img/img-tv-samsung-smart.jpg" alt="smart" />
          <div class="contenedor">
            <i class="fa-solid fa-truck envios"></i>
            <div class="pyd">
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
            </div>
            <p class="description">SmartTv Samsung 43"</p>
          </div>
        </article>
      </section>
      <h2 class="titulares">Secion de ofertas</h2>
      <section>
        <article>
          <img src="./img/img-cafetera-moulinex.jpg" alt="cafetera" />
          <div class="contenedor">
            <i class="fa-solid fa-truck envios"></i>
            <div class="pyd">
              <p class="precios">$6.770</p>
              <p class="descuentos">40% OFF</p>
            </div>
            <p class="description">Cafetera Moulinex</p>
          </div>
        </article>

        <article>
          <img src="./img/img-macbook-pro-2019.jpg" alt="mac" />
          <div class="contenedor">
            <i class="fa-solid fa-truck envios"></i>
            <div class="pyd">
              <p class="precios">$230.000</p>
              <p class="descuentos">20% off</p>
            </div>
            <p class="description">MacBook Pro 2019</p>
          </div>
        </article>

        <article>
          <img src="./img/img-samsung-galaxy-s10.jpg" alt="samsung" />
          <div class="contenedor">
            <i class="fa-solid fa-truck envios"></i>
            <div class="pyd">
              <p class="precios">$70.500</p>
              <p class="descuentos">10% off</p>
            </div>
            <p class="description">Samsung Galaxy S10</p>
          </div>
        </article>
        <article>
          <img src="./img/img-tv-samsung-smart.jpg" alt="smart" />
          <div class="contenedor">
            <i class="fa-solid fa-truck envios"></i>
            <div class="pyd">
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
            </div>
            <p class="description">SmartTv Samsung 43"</p>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <!-- <div class="boxfoot">
        <div class="tarjeta">
          <i class="fa-solid fa-credit-card icon"></i>
          <h2>Pagá con tarjeta o en efectivo</h2>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>

        <div class="envio-footer">
          <i class="fa-solid fa-gift icon"></i>
          <h2>Envío gratis desde $ 2.500</h2>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>

        <div class="seguridad">
          <i class="fa-solid fa-user-shield icon"></i>
          <h2>Seguridad, de principio a fin</h2>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
        <div class="copyr"></div>
      </div>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> -->

      <ul class="ul-footer">
        <li>
          <i class="fa-solid fa-credit-card icon"></i>
          <h2>Pagá con tarjeta o en efectivo</h2>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </li>
        <li>
          <i class="fa-solid fa-gift icon"></i>
          <h2>Envío gratis desde $ 2.500</h2>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </li>
        <li>
          <i class="fa-solid fa-user-shield icon"></i>
          <h2>Seguridad, de principio a fin</h2>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </li>
        <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
      </ul>
    </footer>
  </body>
</html>
